.cantainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
mat-form-field {
  margin: auto;
  width: 500px;
  font-size: large;
  font-weight: bolder;
}
mat-label {
  font-size: medium;
  font-weight: bold;
}
.containers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  align-content: space-between;
  align-items: center;
}
