body{
   margin:auto;
   background-color: #cccccc;

    

}
.header{
    margin: 5px;
    display: flex;
    flex-flow: row wrap;
    height: auto;
    background-color: firebrick;
    padding: 10px;
    justify-content: center;

}
.uruk{
    display: flex;
    font-size:xx-large;
    flex-flow: row wrap;
    float: left;
    padding: 10pt;
    justify-content: center;
    text-transform:uppercase;
    text-decoration: none;
    
  
}
.uruk a{
    text-decoration: none;
   font-family: 'Gloria Hallelujah', cursive;
    text-shadow: 4px 4px black;
    font-weight: bold;
   

}
.uruk a p1{
    width: 150px;
    height: 300px;
    text-decoration: none;
    font-family: 'Gloria Hallelujah', cursive;
    text-shadow: 4px 4px black;
    font-weight: bold;
    text-align: center;
    background-color: rgba(128, 236, 222, 0.658);
    border-radius: 25px  80px;
    /* color: rgb(103, 119, 114); */
}

.nav{
    display: flex ;
    flex-flow: row wrap;
    width: 800px;
    margin: auto;
    padding-top: 1px;
    height: 60px;
    justify-content:flex-end;

}
.item{
    padding: 10px;
    margin: auto;
    justify-content:center;

}
.item a{
    padding: 10px;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: x-large ;

}

.img{
   background-image: url("image/banner.jpg") ;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
}

.container{
    display: flex;
    flex-direction:column;
    /* justify-content: center; */
    height: 100%;
    width: 100%;
    margin: 10px;

}
.bg{
    display: flex;
    flex-direction: row;
   
   margin: 10px;
   /* opacity: 0.5;
   background-color: rgb(106, 109, 108); */
}

.into{
    margin-top: 5px;
    display: flex;
    flex-flow: row nowrap;
    background-color: bisque;
    height: 350px;
    justify-content: center;
    padding-bottom: 0;
}
.ab{
    justify-content: center;
    padding: 20px;
    background-color: firebrick;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    color: white;
   

}
.bc{
    background-color: rgb(3, 42, 116);
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    color: white;
   

}
.section{
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    margin-right: 50px;
    padding: 2px;
    background-color: tomato;
}
.what{
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: thistle;
    /* height: 50%; */
    flex-direction: row;
    width: 60%;
}
/* .what h3{
    text-align: center;
    font-size: xx-large;

}
.what p{
    text-align: justify;
    font-size: 20px;
    margin: 10px;
} */
.item{
    display: flex;
    flex-flow: row wrap;
    margin-left: 40px;
    padding: 8px;
    /* width: 50%; */
    background-color: yellowgreen;
}


.ban{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* height: auto; */
    width: 50%;
    opacity: 0.8;
}
.ban img{
    /* float: left; */
    /* height: auto; */
    width: 100%;
}