<div class="subject_card">
    <mat-card class="subject" *ngFor="let subject of number">
        <div class="subject_head">
            <img src="{{subject.image}}" style="height: 70px;width: 80px;">
            <mat-card-title>{{subject.name}}</mat-card-title>
        </div>
        <div class="card_content">
            <mat-card-content>
                <mat-card-title>This is {{subject.button}} of the new topic. </mat-card-title>
                <mat-card-subtitle>This is the par of the science work part</mat-card-subtitle>
            </mat-card-content>
            <!-- <div > -->
            <mat-card-footer>
                <div class="date">07/october/2021</div>
                <div class="button" align="end">
                    {{subject.button}}
                </div>
            </mat-card-footer>
        </div>
    </mat-card>
</div>